*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    border-style: none;
    height: 50px;
    padding: 6px 30px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

.button.blue{
    background-color: #069F5F;
}


.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}

:root{
    --primary-color: #069F5F;
    --secundary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
}

header{
    background-color: var(--primary-color);
    height: 100px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px var(--shadow-color);
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
}


.divTitulo{
    height: 600px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.title{
    width: 100%;
    color: #069F5F;
    font-size: 2rem;
    text-align: center;
}

.form-group{
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-control{
    width: 75%;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 30px;
}

.divBtnCadastrar{
    height: 600px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}