*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../imgs/png/loginFundo.jpg);
    background-size: cover;
}


input[type="email"],
input[type="senha"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #069F5F;
    border-radius: 10px;
    color: #069F5F;
    background-color: transparent; 
    margin-bottom: 20px; 
}

.holderContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000ab;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.custom-margin {
    margin-bottom: 20px;
}

.form-group{
    color: #ffffff;
}

form {
    width: 40%;
}


.btn-success {
    width: 100%;
    color: white;
    background-color: #069F5F;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    display: flex;
    font-weight: bolder;
    height: 50px;
    width: 500px;
}

