*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    background-color: #069F5F;
}

.logoEstacionaMais{
    height: 64px;
    width: 240px;
    background-image: url('../imgs/png/icon_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.holderLegendasLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legendaEstaciona{
    color: #ffffff;
}

.legendaMais{
    color: #FFEB3A;
}

.feedPage1{
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.carousel{
    height: 250px;
    width: 500px;
}

.carousel-inner{
    height: 250px;
    width: 500px;
}

.carousel-item{
    height: 250px;
    width: 500px;
}

.carousel-item img{
    height: 250px;
    width: 500px;
    overflow: hidden;
}