@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    height: 100vh;
    background-image: url('../imgs/png/imagem_fundo_3.png');
    background-size: cover;
}

.holderAll{
    height: 100vh;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0000009f;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btnVoltar{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    border: none;
    background-color: #069F5F;
    background-image: url('../imgs/png/botaoSetaVoltar.png');
    background-size: cover;
}

.holderTitulo{
    width: 80%;
    text-align: center;
    align-items: center;
}

.holderTitulo h1{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
}

.btnEnviar{
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #069F5F;
}

.btnEnviar img{
    height: 72px;
    width: 72px;
}

main{
    display: flex;
    flex-direction: column;
    height: 700px;
    background-color: #0000009f;
    border-radius: 50px;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
}

.holderSubTitulos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.h1VagaCoberta{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
}

.h1VagaDescoberta{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 32px;
    color: #069F5F;
}

.holderVagas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    width: 1700px;
}

.colunaBase{
    height: 600px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coluna{
    height: 600px;
    width: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.divisaoColunasBranca{
    width: 8px;
    height: 600px;
    background-color: #fff;
    border-radius: 50px;
}

.divisaoColunasVerde{
    width: 8px;
    height: 600px;
    background-color: #069F5F;
    border-radius: 50px;
}

.vagaMoto{
    position: relative;
    margin: -30px 0px 0px 0px;
    height: 30px;
    width: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: skew(-10deg);
    rotate: -10deg
}

.btnVagaMoto{
    height: 20px;
    width: 116px;
}

.vaga{
    position: relative;
    margin: -60px 0px 0px 0px;
    height: 60px;
    width: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: skew(-10deg);
    rotate: -10deg
}

.btnVaga{
    height: 40px;
    width: 116px;
}

.underlineBranco{
    border-bottom: solid white 6px;
}

.underlineVerde{
    border-bottom: solid #069F5F 6px;
}